p{
    color: blue;font-size: 10pt;
}
h1{
    color: rgb(209, 206, 26);
}
.country{
    color: rgb(253, 6, 6);
}
.name{
    color: rgb(70, 138, 2);
}
.modeling{
    color: rgb(90, 88, 88);
}
.remark{
    color: darkorchid;
}